VITE_API_URL=https://api.twofingersfoundation.com/api
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=two-finger-foundation.firebaseapp.com
VITE_FIREBASE_PRODUCTION_AUTH_DOMAIN=app.twofingersfoundation.com
VITE_FIREBASE_PROJECT_ID=two-finger-foundation
VITE_FIREBASE_STORAGE_BUCKET=two-finger-foundation.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=80791525662
VITE_FIREBASE_APP_ID=1:80791525662:web:9d921da2752c1ce968d10f
